.cta {
    padding-top: 5rem;
    padding-bottom: 5rem;
    background-color: fade-out($modals, 1);

    .cta-inner {
        position: relative;
        padding: 3rem;
        margin: 0.5rem;
        border: 3px solid $primary;
        box-shadow: 0 0 20px rgba(220, 20, 60, 0.4);

        &:before {
            border-radius: 0.5rem;
            content: '';
            position: absolute;
            top: -0.7rem;
            bottom: -0.7rem;
            left: -0.7rem;
            right: -0.7rem;
            border: 0.27rem solid $primary;
            z-index: -1;
            box-shadow: 0 0 15px rgba(220, 20, 60, 0.3);
        }
    }
}

.cta-roster {
    margin-bottom: -75px;
    margin-top: 10px;
    margin-top: 25px;
    background-color: transparent;
    color: $white; // White text
    margin-right: auto;
    margin-left: auto;
    text-align: center;
    text-shadow: 2px 2px 4px rgba(220, 20, 60, 0.8); // Red text shadow for extreme look
  }
  