// Google fonts - Frijole for everything
link(href='https://fonts.googleapis.com/css2?family=Frijole&display=swap', rel='stylesheet')

// Core theme CSS (includes Bootstrap)
link(href='css/styles.css', rel='stylesheet')