footer.footer.text-faded.text-center.py-5
  .container
    // Social Icons Row
    .mb-3
      a.text-white.mx-2(href='https://www.facebook.com/ExtremeWrestlingForce', target='_blank')
        i.fab.fa-facebook-f.fa-lg
      a.text-white.mx-2(href='https://x.com/EWForceNY', target='_blank')
        i.fab.fa-x-twitter.fa-lg
      a.text-white.mx-2(href='https://www.instagram.com/extremewrestlingforce', target='_blank')
        i.fab.fa-instagram.fa-lg

    p.m-0.small © Extreme Wrestling Force 2026
