footer.footer.text-faded.text-center.py-5
  .container
    // Social Icons Row
    .mb-3
      a.text-white.mx-2(href='https://www.facebook.com/ESWwrestling/', target='_blank')
        i.fab.fa-facebook-f.fa-lg
      a.text-white.mx-2(href='https://x.com/eswwrestling', target='_blank')
        i.fab.fa-x-twitter.fa-lg
      a.text-white.mx-2(href='https://www.instagram.com/eswwrestling', target='_blank')
        i.fab.fa-instagram.fa-lg
      a.text-white.mx-2(href='https://www.youtube.com/@eswwrestling', target='_blank')
        i.fab.fa-youtube.fa-lg
      a.text-white.mx-2(href='https://www.linkedin.com/company/eswwrestling/', target='_blank')
        i.fab.fa-linkedin.fa-lg

    p.m-0.small © Empire State Wrestling 2025
