header
    h1.site-heading.text-center.text-faded.d-none.d-lg-block
        span.site-heading-upper.text-primary.mb-3(style='color: #dc143c !important;') No Limits
        span.site-heading-lower(style='color: #ffffff; text-shadow: 3px 3px 6px rgba(220, 20, 60, 0.8);') Extreme Wrestling Force