header
    h1.site-heading.text-center.text-faded.d-none.d-lg-block
        span.site-heading-upper.text-primary.mb-3 Buffalo Born and Bred Pro Wrestling
        span.site-heading-lower Empire State Wrestling