// Navigation
nav#mainNav.navbar.navbar-expand-lg.navbar-dark.py-lg-4.sticky-top
    .container
        a.navbar-brand.text-uppercase.fw-bold.d-lg-none(href='index.html') Empire State Wrestling
        button.navbar-toggler(type='button', data-bs-toggle='collapse', data-bs-target='#navbarSupportedContent', aria-controls='navbarSupportedContent', aria-expanded='false', aria-label='Toggle navigation')
            span.navbar-toggler-icon
        #navbarSupportedContent.collapse.navbar-collapse
            ul.navbar-nav.mx-auto
                li.nav-item.px-lg-4
                    a.nav-link.text-uppercase(href='index.html') Home
                li.nav-item.px-lg-4
                    a.nav-link.text-uppercase(href='bwa.html') BWA
                li.nav-item.px-lg-4
                    a.nav-link.text-uppercase(href='roster.html') Roster
                li.nav-item.px-lg-4
                    a.nav-link.text-uppercase(href='history.html') History
                li.nav-item.px-lg-4
                    a.nav-link.text-uppercase(href='fundraising.html') Fundraising
                li.nav-item.px-lg-4
                    a.nav-link.text-uppercase(href='sponsorships.html') Sponsoring
                li.nav-item.px-lg-4
                    a.nav-link.text-uppercase(href='hostesw.html') Host ESW