// Bootstrap core JS
script(src='https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js')

// Core theme JS
script(src='js/scripts.js')

// Vercel Analytics
script(defer src='https://va.vercel-scripts.com/v1/script.js')