doctype html
html(lang='en')

    head

        meta(charset='utf-8')
        meta(name='viewport', content='width=device-width, initial-scale=1, shrink-to-fit=no')
        meta(name='description', content='')
        meta(name='author', content='')

        title BWA Training

        link(rel='icon', type='image/x-icon', href='assets/favicon.ico')
        link(rel='stylesheet', href='https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.0/css/all.min.css')

        include includes/css

    body(class='bwa-page')

        include includes/header

        include includes/navbar

        // TODO: Fill in info for BWA
        section.page-section.clearfix
            .container
                h2.section-heading.mb-4.text-center
                    span.section-heading-upper Image Carousel
                    span.section-heading-lower

                .carousel.slide#carouselExampleIndicators(data-bs-ride='carousel')
                    .carousel-indicators
                        button(type='button', data-bs-target='#carouselExampleIndicators', data-bs-slide-to='0', class='active', aria-current='true', aria-label='Slide 1')
                        button(type='button', data-bs-target='#carouselExampleIndicators', data-bs-slide-to='1', aria-label='Slide 2')
                        button(type='button', data-bs-target='#carouselExampleIndicators', data-bs-slide-to='2', aria-label='Slide 3')
                        button(type='button', data-bs-target='#carouselExampleIndicators', data-bs-slide-to='3', aria-label='Slide 4')
                        button(type='button', data-bs-target='#carouselExampleIndicators', data-bs-slide-to='4', aria-label='Slide 5')

                    .carousel-inner
                        //- .carousel-item.active
                        //-     img.d-block.w-100(src='assets/img/bwa/tryout.jpg', alt='July 13th, 2025 Tryout')
                        .carousel-item.active
                            img.d-block.w-100(src='assets/img/bwa/bwa.jpg', alt='Buffalo Wrestling Academy Logo')
                        .carousel-item
                            img.d-block.w-100(src='assets/img/bwa/bwa7.jpg', alt='Buffalo Wrestling Academy')
                        .carousel-item
                            img.d-block.w-100(src='assets/img/bwa/bwa1.jpg', alt='Two students training')
                        .carousel-item
                            img.d-block.w-100(src='assets/img/bwa/bwa6.jpg', alt='Two students listening in on a lesson')

                    .carousel-control-prev(href='#carouselExampleIndicators', role='button', data-bs-slide='prev')
                        span.carousel-control-prev-icon(aria-hidden='true')
                        span.visually-hidden Previous
                    .carousel-control-next(href='#carouselExampleIndicators', role='button', data-bs-slide='next')
                        span.carousel-control-next-icon(aria-hidden='true')
                        span.visually-hidden Next

        // Trainer title
        section.page-section.cta
            .container
                .row
                    .col-xl-9.mx-auto
                        .cta-inner.bg-faded.text-center.rounded
                            h2.section-heading.mb-4
                                span.section-heading-upper Official ESW Wrestling School
                                span.section-heading-lower Buffalo Wrestling Academy
                            p.mb-0
                            | Buffalo Wrestling Academy is a fully equipped training facility, dedicated to training professional wrestlers, referees, and managers of all experience levels. Whether you’re new to the game, or have years of experience, BWA is the place for you. Covering aspects such as ring psychology, character development, social media presence, etiquette, networking, and so much more. We are committed to helping you reach your success and achieve your goals. Join us today!
        // First trainer section - LEFT JUSTIFIED
        section.page-section.clearfix
            .container
                .intro
                    img.intro-img.img-fluid.mb-3.mb-lg-0.rounded(src='assets/img/bwa/vince.jpg', alt='...')
                    .intro-text.left-0.text-center.bg-faded.p-5.rounded
                        h2.section-heading.mb-4
                            span.section-heading-upper Head Trainer
                            span.section-heading-lower Vince Valor
                        p.mb-3
                            | Beginning his wrestling journey over 15 years ago, Vince Valor has become established as a staple on the Western New York wrestling scene. Trained by the late JT Playa/Tiberious King at the NEO Wrestling Dojo in Niagara Falls, Canada. Valor instills in his students a strong work ethic, and puts an emphasis on earning opportunities through hard work and dedication. Valor is committed to helping his students achieve their own success.
                        .intro-button.mx-auto
                                .btn.btn-primary.btn-xl.button-wrapper(style="pointer-events: none;")
                                    a.text-white.me-3(href='https://www.facebook.com/vince.mease.9', target='_blank')
                                        i.fab.fa-facebook-f.fa-lg
                                    a.text-white.me-3(href='https://x.com/VinceValor31', target='_blank')
                                        i.fab.fa-twitter.fa-lg
                                    a.text-white(href='https://www.instagram.com/vincetagram31/', target='_blank')
                                        i.fab.fa-instagram.fa-lg

        // Second trainer section - RIGHT JUSTIFIED
        section.page-section.clearfix
            .container
                .intro.d-flex.flex-column.flex-lg-row-reverse
                    img.intro-img.img-fluid.mb-3.mb-lg-0.rounded(src='assets/img/bwa/robby.jpg', alt='...')
                    .intro-text.right-0.text-center.bg-faded.p-5.rounded
                        h2.section-heading.mb-4
                            span.section-heading-upper Trainer
                            span.section-heading-lower Robby Vegas
                        p.mb-3
                            | “Rockstar” Robby Vegas has  been in the wrestling business close to a decade and half and has shared the ring across 5 states and Canada with superstars such as Fandango, Lio Rush, Warlord, Barbarian, Tommy Dreamer, Super Crazy, and Tatanka. With multiple appearances on WWE programming he’s also taken seminars from the likes of Al Snow, and Matt Cross over the course of his career. Winning multiple championships and working for multiple companies and has been a trainer at BWA since the doors opened.
                        .intro-button.mx-auto
                                .btn.btn-primary.btn-xl.button-wrapper(style="pointer-events: none;")
                                    a.text-white.me-3(href='https://www.facebook.com/robby.vegas.5', target='_blank')
                                        i.fab.fa-facebook-f.fa-lg
                                    a.text-white.me-3(href='https://x.com/Robby_Vegas_', target='_blank')
                                        i.fab.fa-twitter.fa-lg
                                    a.text-white(href='https://instagram.com/Robby_Vegas_Official', target='_blank')
                                        i.fab.fa-instagram.fa-lg
                                        



        include includes/footer

        include includes/scripts
