doctype html
html(lang='en')

    head

        meta(charset='utf-8')
        meta(name='viewport', content='width=device-width, initial-scale=1, shrink-to-fit=no')
        meta(name='description', content='')
        meta(name='author', content='')

        title Host ESW

        link(rel='icon', type='image/x-icon', href='assets/favicon.ico')
        link(rel='stylesheet', href='https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.0/css/all.min.css')

        include includes/css

    body

        include includes/header

        include includes/navbar

        // TODO: This will be the Host ESW page
        // TODO: Pages needed - Fundraising and Sponsoring
        section.page-section.about-heading
            .container
                img.img-fluid.rounded.about-heading-img.mb-3.mb-lg-0(src='assets/img/ub1.jpg', alt='ESW champions Christina Marie, James Sayga, and Vince Valor pose in front of UB')
                .about-heading-content
                    .row
                        .col-xl-9.col-lg-10.mx-auto
                            .bg-faded.rounded.p-5
                                h2.section-heading.mb-4
                                    span.section-heading-upper Looking to host wrestling?
                                    span.section-heading-lower Host ESW
                                p
                                    | Are you an event venue or organizer looking to host Buffalo's premier wrestling promotion?
                                p
                                    | Bring the electric energy and excitement of an Empire State Wrestling event to your location! For over 20 years, ESW has been a top draw in Western New York, consistently attracting hundreds of dedicated fans to our events, with some even eclipsing 1,000 in attendance. We have a proven track record of successful collaborations, having previously partnered to provide entertaining experiences for the University at Buffalo's Student Association, the Buffalo Bandits, the City of Salamanca, and rock band Better Lovers.
                                p    
                                    | Hosting ESW is a fantastic way to attract a loyal fanbase and generate significant revenue for your venue. Our professional team handles all aspects of event production, from talent management and logistics to promotion and marketing, ensuring a seamless and successful show.
                                p
                                    | If you are interested in partnering with Empire State Wrestling to host an event, please contact 
                                    a(href='mailto:eswoffice@yahoo.com?subject=Interested%20in%20Hosting%20ESW' target="_blank") eswoffice@yahoo.com
                                    | for more information. We look forward to working with you to create an unforgettable experience for our fans and your patrons.
        section.page-section.clearfix
            .container
                .carousel.slide#carouselExampleIndicators(data-bs-ride='carousel')
                    .carousel-indicators
                        button(type='button', data-bs-target='#carouselExampleIndicators', data-bs-slide-to='0', class='active', aria-current='true', aria-label='Slide 1')
                        button(type='button', data-bs-target='#carouselExampleIndicators', data-bs-slide-to='1', aria-label='Slide 2')
                        button(type='button', data-bs-target='#carouselExampleIndicators', data-bs-slide-to='2', aria-label='Slide 3')

                    .carousel-inner
                        .carousel-item.active
                            img.d-block.w-100(src='assets/img/bandits1.jpg', alt='Wrestlers Pose for the Buffalo Bandits Wrestling Night')
                        .carousel-item
                            img.d-block.w-100(src='assets/img/ub2.jpg', alt='Mike Skyros vs Cerin Rahne at the University of Buffalo')
                        .carousel-item
                            img.d-block.w-100(src='assets/img/bandits2.jpg', alt='Superbeast driven through a table by the Buffalo Bandits mascot')

                    .carousel-control-prev(href='#carouselExampleIndicators', role='button', data-bs-slide='prev')
                        span.carousel-control-prev-icon(aria-hidden='true')
                        span.visually-hidden Previous
                    .carousel-control-next(href='#carouselExampleIndicators', role='button', data-bs-slide='next')
                        span.carousel-control-next-icon(aria-hidden='true')
                        span.visually-hidden Next
        include includes/footer

        include includes/scripts
