doctype html
html(lang='en')

    head

        meta(charset='utf-8')
        meta(name='viewport', content='width=device-width, initial-scale=1, shrink-to-fit=no')
        meta(name='description', content='')
        meta(name='author', content='')

        title Empire State Wrestling

        link(rel='icon', type='image/x-icon', href='assets/favicon.ico')
        link(rel='stylesheet', href='https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.0/css/all.min.css')

        include includes/css

    body

        include includes/header

        include includes/navbar

        // TODO: This will be the Host ESW page 
        // TODO: Pages needed - Fundraising and Sponsoring
        section.page-section.text-center
            .container
                h2.section-heading.mb-5
                a(href='https://www.facebook.com/share/15uWqzPzfk/', target='_blank', style='text-decoration: none; color: inherit;')
                    span.section-heading-upper(style='font-size: 1.2rem; color: #ccc;') Upcoming Event:
                    br
                    span.section-heading-lower(style='font-size: 2.5rem; color: #b71010; text-decoration: underline;') ESW Presents "WRESTLERS"
        section.page-section.about-heading
            .container
                img.img-fluid.rounded.about-heading-img.mb-3.mb-lg-0(src='assets/img/banner.jpg', alt='ESW 2025' style="border: 2px solid #b71010; transform: translate(166px, -53px);")
                .about-heading-content
                    .row
                        .col-xl-9.col-lg-10.mx-auto
                            .bg-faded.rounded.p-5
                                h2.section-heading.mb-4
                                    span.section-heading-upper Action-packed, family-friendly entertainment!
                                    span.section-heading-lower Empire State Wrestling - ESW
                                p
                                    | Empire State Wrestling is Western New York’s premier independent professional wrestling promotion. Since 2002, ESW continues to host many of pro wrestling’s top up-and-comers, biggest legends and best local talent.
        section.page-section.clearfix
            .container
                .carousel.slide#carouselExampleIndicators(data-bs-ride='carousel')
                    .carousel-indicators
                        button(type='button', data-bs-target='#carouselExampleIndicators', data-bs-slide-to='0', class='active', aria-current='true', aria-label='Slide 1')
                        button(type='button', data-bs-target='#carouselExampleIndicators', data-bs-slide-to='1', aria-label='Slide 2')
                        button(type='button', data-bs-target='#carouselExampleIndicators', data-bs-slide-to='2', aria-label='Slide 3')
                        button(type='button', data-bs-target='#carouselExampleIndicators', data-bs-slide-to='3', aria-label='Slide 4')

                    .carousel-inner
                        .carousel-item.active
                            a(href='https://www.facebook.com/share/15uWqzPzfk/' target="_blank")
                                img.d-block.w-100(src='assets/img/wrestlers2025.png', alt='ESW Presents "WRESTLERS"')
                        .carousel-item
                            a(href='https://independentwrestling.tv/promotion/empire-state' target="_blank")
                                img.d-block.w-100(src='assets/img/eswpromo1.jpg', alt='Watch ESW on IWTV!')
                        .carousel-item
                            a(href='https://www.prowrestlingtees.com/promotion-tshirts/eswwrestling.html' target="_blank")
                                img.d-block.w-100(src='assets/img/eswpromo2.jpg', alt='New ESW Merch!')
                        .carousel-item
                            a(href='https://linktr.ee/eswwrestling' target="_blank")
                                img.d-block.w-100(src='assets/img/eswpromo3.jpg', alt='All ESW Links!')

                    .carousel-control-prev(href='#carouselExampleIndicators', role='button', data-bs-slide='prev')
                        span.carousel-control-prev-icon(aria-hidden='true')
                        span.visually-hidden Previous
                    .carousel-control-next(href='#carouselExampleIndicators', role='button', data-bs-slide='next')
                        span.carousel-control-next-icon(aria-hidden='true')
                        span.visually-hidden Next
        include includes/footer

        include includes/scripts
