doctype html
html(lang='en')

    head

        meta(charset='utf-8')
        meta(name='viewport', content='width=device-width, initial-scale=1, shrink-to-fit=no')
        meta(name='description', content='')
        meta(name='author', content='')

        title Extreme Wrestling Force

        link(rel='icon', type='image/x-icon', href='assets/favicon.ico')
        link(rel='stylesheet', href='https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.0/css/all.min.css')

        include includes/css

    body

        include includes/header

        include includes/navbar

        section.page-section.text-center
            .container
                h2.section-heading.mb-5
                a(href='https://www.eventbrite.com/e/the-good-the-bad-and-the-ugly-tickets-1834433141909', target='_blank', style='text-decoration: none; color: inherit;')
                    span.section-heading-upper(style='font-size: 1.2rem; color: #ffffff;') Upcoming Event:
                    br
                    span.section-heading-lower(style='font-size: 2.5rem; color: #dc143c; text-decoration: underline; text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.8);') THE GOOD, THE BAD, AND THE UGLY
        section.page-section.about-heading
            .container
                .about-heading-content
                    .row
                        .col-xl-9.col-lg-10.mx-auto
                            .bg-faded.rounded.p-5
                                h2.section-heading.mb-4
                                    span.section-heading-upper(style='color: #dc143c;') No Limits
                                    span.section-heading-lower(style='color: #000000;') Extreme Wrestling Force
                                p(style='color: #000000; font-weight: 500;')
                                    | Extreme Wrestling Force entertains audiences with adult-oriented sports entertainment! From hardcore wrestling to some of the best technical wrestling in Upstate NY, we aim to serve wrestling fans who want more than a PG product can deliver!
        section.page-section.clearfix
            .container
                .carousel.slide#carouselExampleIndicators(data-bs-ride='carousel')
                    .carousel-indicators
                        button(type='button', data-bs-target='#carouselExampleIndicators', data-bs-slide-to='0', class='active', aria-current='true', aria-label='Slide 1')
                        button(type='button', data-bs-target='#carouselExampleIndicators', data-bs-slide-to='1', aria-label='Slide 2')
                        button(type='button', data-bs-target='#carouselExampleIndicators', data-bs-slide-to='2', aria-label='Slide 3')
                        button(type='button', data-bs-target='#carouselExampleIndicators', data-bs-slide-to='3', aria-label='Slide 4')

                    .carousel-inner
                        .carousel-item.active
                            a(href='https://www.facebook.com/photo/?fbid=851916470779125&set=pb.100078823381520.-2207520000' target="_blank")
                                img.d-block.w-100(src='assets/img/ewfcaro1.jpg', alt='')
                        .carousel-item
                            a(href='https://www.facebook.com/photo/?fbid=857018780268894&set=pb.100078823381520.-2207520000' target="_blank")
                                img.d-block.w-100(src='assets/img/ewfcaro2.jpg', alt='')
                        .carousel-item
                            a(href='https://www.facebook.com/photo/?fbid=861217239849048&set=pb.100078823381520.-2207520000' target="_blank")
                                img.d-block.w-100(src='assets/img/ewfcaro3.jpg', alt='')
                        .carousel-item
                            a(href='https://www.facebook.com/photo/?fbid=869705135666925&set=pb.100078823381520.-2207520000' target="_blank")
                                img.d-block.w-100(src='assets/img/ewfcaro4.jpg', alt='')

                    .carousel-control-prev(href='#carouselExampleIndicators', role='button', data-bs-slide='prev')
                        span.carousel-control-prev-icon(aria-hidden='true')
                        span.visually-hidden Previous
                    .carousel-control-next(href='#carouselExampleIndicators', role='button', data-bs-slide='next')
                        span.carousel-control-next-icon(aria-hidden='true')
                        span.visually-hidden Next
        include includes/footer

        include includes/scripts
