body {
    // background-image: linear-gradient(rgba(47, 23, 15, 0.65), rgba(47, 23, 15, 0.65)), url('../assets/img/bg.jpg');
    // background-attachment: fixed;
    // background-position: center;
    // background-size: cover;
    background-color: #2b2b2b;
    background-image: repeating-linear-gradient(
        45deg,
        #444 0,
        #444 10px,
        #2b2b2b 10px,
        #2b2b2b 20px
    );
}

body::before {
    content: '';
    position: fixed;
    top: 0; left: 0;
    width: 100%; height: 100%;
    background: rgba(0, 0, 0, 0.4); /* Adjustable darkness */
    z-index: -1;
}

body.bwa-page {
    #mainNav,
    footer,
    .btn {
        background-color: $bwa; 
        color: white;
        a,
        a:hover {
        color: white;
        }
    }

    .btn {
        border: 2px solid $bwa;
    }
    .bg-faded {
        border: 3px solid $bwa;
    }
}

body.bwa-page .site-heading-upper.text-primary {
    color: $bwa !important;
}


p {
    line-height: 1.75;
}

.text-faded {
    color: lighten($modals, 25%);
}

i:hover {
    color: fade-in($color: rgb(187, 187, 187), $amount: .2);
}
.site-heading {
    margin-top: 5rem;
    margin-bottom: 5rem;
    text-transform: uppercase;
    line-height: 1;
    font-family: $headings-font-family;

    .site-heading-upper {
        display: block;
        font-size: 2rem;
        font-weight: 800;
    }

    .site-heading-lower {
        font-size: 5rem;
        font-weight: 100;
        line-height: 4rem;
    }
}

.page-section {
    margin-top: 5rem;
    margin-bottom: 5rem;
}

header {
    background-color: black;
    padding: .01rem;
}

.section-heading {
    text-transform: uppercase;

    .section-heading-upper {
        display: block;
        font-size: 1rem;
        font-weight: 800;
    }

    .section-heading-lower {
        display: block;
        font-size: 3rem;
        font-weight: 100;
    }
}

.bg-faded {
    background-color: $modals;
    border: 3px solid $primary;
}

.button-wrapper a {
    pointer-events: auto;
}

.card {
    background-color: $secondary;
    color: $modals;
    border: 1px solid $primary;
}

#title-history-cards {
  padding: 20px;
  max-width: 900px;          
  margin: 0 auto;
  text-align: center;
}

#title-history-cards h5 {
    font-size: 2rem
}

#title-history-cards p {
    font-size: 1.15rem
}

#ch-Christina_Marie  {
  transform: translateY(-20%);
}

#ch-James_Sayga  {
  transform: scale(1.5)translateY(15%);
}

#ch-Vince_Valor  {
  transform: scale(1.2)translateY(4%);
}

#ch-2_Infinity_Champ  {
  transform: scale(1.2)translateY(4%);
}

#Bill_Collier  {
  transform: translateY(-5%);
}

#Cerin_Rahne  {
  transform: scale(1.5)translateY(15%)translateX(-5%);
}

#Mattick  {
  transform: scale(1.5)translateY(15%)translateX(-3%);
}

#Chael_Connors  {
  transform: scale(1.5)translateY(15%)translateX(-3%);
}

#Gavin_Glass  {
  transform: scale(1.5)translateY(15%)translateX(-3%);
}

#Robby_Vegas  {
  transform: scale(1.5)translateY(15%)translateX(-3%);
}

#Groff  {
  transform: scale(1.5)translateY(15%)translateX(-3%);
}

#TJ_Epixx  {
  transform: scale(1.5)translateY(15%)translateX(-3%);
}

#Kevin_Bennett  {
  transform: scale(1.5)translateY(15%)translateX(-2%);
}

#Keenan_Moore  {
  transform: scale(1.5)translateY(15%)translateX(-1%);
}

#Kenny_Star  {
  transform: scale(1.5)translateY(15%)translateX(-3%);
}

#Colin_Delaney  {
  transform: scale(1.5)translateY(15%)translateX(-3%);
}

#Gregory_Iron  {
  transform: scale(1.5)translateY(15%)translateX(-3%);
}

#Frank_Feathers  {
  transform: scale(1.5)translateY(15%)translateX(-1%);
}

#James_Sayga  {
  transform: scale(1.5)translateY(15%)translateX(-3%);
}

#Will_Calrissian  {
  transform: scale(1.5)translateY(15%)translateX(-3%);
}

#Matt_McCoy  {
  transform: scale(1.3)translateY(9%)translateX(-3%);
}

#Nick_Ando  {
  transform: scale(1.2)translateY(2%)translateX(-3%);
}

#Spencer_Slade  {
  transform: scale(1.2)translateY(2%)translateX(-3%);
}

#William_Gaines  {
  transform: scale(1.2)translateY(2%)translateX(-3%);
}

#Jimmy_Hills  {
  transform: scale(1.2)translateY(2%)translateX(-3%);
}

#Christina_Marie  {
  transform: scale(1.2)translateY(-10%)translateX(-3%);
}

#Brennen_I  {
  transform: scale(1.2)translateY(9%)translateX(-3%);
}

#Jeremiah_Richter  {
  transform: scale(1.2)translateY(6%)translateX(2%);
}

#Tommy_K  {
  transform: translateY(-15%)translateX(-10%);
}

#Vinnie_Moon  {
  transform: translateY(-19%)translateX(1%);
}

#Cal_Keaton {
  transform: translateY(-5%)translateX(0%);
}

// Keeping this here to make fun of Cloudy later at some point.
// #Cloudy {
//   transform: scale(6.1)translateY(32%)translateX(-3%);
// }

#OIP {
  transform: translateY(-15%)translateX(0%);
}
